<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [5]:
!pip install ipython-sql prettytable
!pip install pandas
import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (3.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 137.9 MB/s eta 0:00:00
Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 138.3 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 tzdata-2025.2

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [16]:

import pandas as pd
import sqlite3

census_data = pd.read_csv('./ChicagoCensusData.csv')
crime_data = pd.read_csv('./ChicagoCrimeData.csv')
schools_data = pd.read_csv('./ChicagoPublicSchools.csv')

conn = sqlite3.connect('FinalDB.db')
census_data.to_sql('Census', conn, if_exists='replace', index=False)
crime_data.to_sql('Crimes', conn, if_exists='replace', index=False)
schools_data.to_sql('Schools', conn, if_exists='replace', index=False)

566

Load the SQL magic module

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [21]:
df_crime=pd.read_sql("SELECT * FROM Crimes",conn)
print(df_crime)
df_schools=pd.read_sql("SELECT * FROM Schools",conn)
print(df_schools)
df_census=pd.read_sql("SELECT * FROM Census",conn)
print(df_census)

           ID CASE_NUMBER        DATE                     BLOCK  IUCR  \
0     3512276    HK587712  2004-08-28        047XX S KEDZIE AVE   890
1     3406613    HK456306  2004-06-26  009XX N CENTRAL PARK AVE   820
2     8002131    HT233595  2011-04-04        043XX S WABASH AVE   820
3     7903289    HT133522  2010-12-30      083XX S KINGSTON AVE   840
4    10402076    HZ138551  2016-02-02           033XX W 66TH ST   820
..        ...         ...         ...                       ...   ...
528  10453948    HZ192829  2016-03-01           028XX E 79TH ST  1055
529  10397129    HZ133234  2016-01-29       006XX W HARRISON ST  5114
530   3269495    HJ747227  2003-11-08           012XX W 81ST ST   510
531  10840565    JA143710  2017-02-06        009XX N KARLOV AVE  5073
532   1326195     G021609  2001-01-11       087XX S ESCANABA AV  9901

                         PRIMARY_TYPE  \
0                               THEFT
1                               THEFT
2                               THEFT
3                               THEFT
4                               THEFT
..                                ...
528                 HUMAN TRAFFICKING
529                    NON - CRIMINAL
530                         RITUALISM
531  NON-CRIMINAL (SUBJECT SPECIFIED)
532                 DOMESTIC VIOLENCE

                                     DESCRIPTION  \
0                                  FROM BUILDING
1                                 $500 AND UNDER
2                                 $500 AND UNDER
3                  FINANCIAL ID THEFT: OVER $300
4                                 $500 AND UNDER
..                                           ...
528                        INVOLUNTARY SERVITUDE
529                            FOID - REVOCATION
530  AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY
531       NOTIFICATION OF CIVIL NO CONTACT ORDER
532                            DOMESTIC VIOLENCE

             LOCATION_DESCRIPTION  ARREST  DOMESTIC  ...  DISTRICT  WARD  \
0              SMALL RETAIL STORE       0         0  ...         9  14.0
1                           OTHER       0         0  ...        11  27.0
2    NURSING HOME/RETIREMENT HOME       0         0  ...         2   3.0
3                       RESIDENCE       0         0  ...         4   7.0
4                           ALLEY       0         0  ...         8  15.0
..                            ...     ...       ...  ...       ...   ...
528                     APARTMENT       0         0  ...         4   7.0
529                        STREET       0         0  ...         1   2.0
530                         OTHER       0         0  ...         6  21.0
531                     RESIDENCE       0         1  ...        11  37.0
532                     APARTMENT       1         1  ...         4   NaN

     COMMUNITY_AREA_NUMBER  FBICODE X_COORDINATE  Y_COORDINATE  YEAR  \
0                     58.0        6    1155838.0     1873050.0  2004
1                     23.0        6    1152206.0     1906127.0  2004
2                     38.0        6    1177436.0     1876313.0  2011
3                     46.0        6    1194622.0     1850125.0  2010
4                     66.0        6    1155240.0     1860661.0  2016
..                     ...      ...          ...           ...   ...
528                   46.0       26    1196679.0     1853139.0  2016
529                   28.0       26    1172257.0     1897564.0  2016
530                   71.0      04B    1169648.0     1851076.0  2003
531                   23.0       26    1148881.0     1905963.0  2017
532                    NaN      08B    1196869.0     1847416.0  2001

      LATITUDE  LONGITUDE                       LOCATION
0    41.807440 -87.703956    (41.8074405, -87.703955849)
1    41.898280 -87.716406  (41.898279962, -87.716405505)
2    41.815933 -87.624642  (41.815933131, -87.624642127)
3    41.743665 -87.562463  (41.743665322, -87.562462756)
4    41.773455 -87.706480  (41.773455295, -87.706480471)
..         ...        ...                            ...
528  41.751885 -87.554826  (41.751885152, -87.554825997)
529  41.874363 -87.643013  (41.874363279, -87.643013039)
530  41.746852 -87.653941  (41.746852486, -87.653941385)
531  41.897895 -87.728622   (41.89789489, -87.728622316)
532  41.736176 -87.554320   (41.73617608, -87.554319607)

[533 rows x 21 columns]
     School_ID                                     NAME_OF_SCHOOL  \
0       610038                  Abraham Lincoln Elementary School
1       610281  Adam Clayton Powell Paideia Community Academy ...
2       610185                Adlai E Stevenson Elementary School
3       609993                    Agustin Lara Elementary Academy
4       610513                      Air Force Academy High School
..         ...                                                ...
561     610172                William T Sherman Elementary School
562     609844                 William W Carter Elementary School
563     610088                Wolfgang A Mozart Elementary School
564     609977               Woodlawn Community Elementary School
565     610392                 World Language Academy High School

    Elementary, Middle, or High School         Street_Address     City State  \
0                                   ES        615 W Kemper Pl  Chicago    IL
1                                   ES  7511 S South Shore Dr  Chicago    IL
2                                   ES     8010 S Kostner Ave  Chicago    IL
3                                   ES     4619 S Wolcott Ave  Chicago    IL
4                                   HS        3630 S Wells St  Chicago    IL
..                                 ...                    ...      ...   ...
561                                 ES         1000 W 52nd St  Chicago    IL
562                                 ES    5740 S Michigan Ave  Chicago    IL
563                                 ES      2200 N Hamlin Ave  Chicago    IL
564                                 ES     6657 S Kimbark Ave  Chicago    IL
565                                 HS     3120 S Kostner Ave  Chicago    IL

     ZIP_Code    Phone_Number  \
0       60614  (773) 534-5720
1       60649  (773) 535-6650
2       60652  (773) 535-2280
3       60609  (773) 535-4389
4       60609  (773) 535-1590
..        ...             ...
561     60609  (773) 535-1757
562     60637  (773) 535-0860
563     60647  (773) 534-4160
564     60637  (773) 535-0801
565     60623  (773) 535-4334

                                                  Link  \
0    http://schoolreports.cps.edu/SchoolProgressRep...
1    http://schoolreports.cps.edu/SchoolProgressRep...
2    http://schoolreports.cps.edu/SchoolProgressRep...
3    http://schoolreports.cps.edu/SchoolProgressRep...
4    http://schoolreports.cps.edu/SchoolProgressRep...
..                                                 ...
561  http://schoolreports.cps.edu/SchoolProgressRep...
562  http://schoolreports.cps.edu/SchoolProgressRep...
563  http://schoolreports.cps.edu/SchoolProgressRep...
564  http://schoolreports.cps.edu/SchoolProgressRep...
565  http://schoolreports.cps.edu/SchoolProgressRep...

                        Network_Manager  ... Freshman_on_Track_Rate__  \
0          Fullerton Elementary Network  ...                      NDA
1             Skyway Elementary Network  ...                      NDA
2             Midway Elementary Network  ...                      NDA
3           Pershing Elementary Network  ...                      NDA
4    Southwest Side High School Network  ...                     91.8
..                                  ...  ...                      ...
561                        AUSL Schools  ...                      NDA
562     Burnham Park Elementary Network  ...                      NDA
563        Fullerton Elementary Network  ...                      NDA
564     Burnham Park Elementary Network  ...                      NDA
565       West Side High School Network  ...                       76

    X_COORDINATE Y_COORDINATE   Latitude  Longitude COMMUNITY_AREA_NUMBER  \
0    1171699.458  1915829.428  41.924497 -87.644522                     7
1    1196129.985  1856209.466  41.760324 -87.556736                    43
2    1148427.165  1851012.215  41.747111 -87.731702                    70
3    1164504.290  1873959.199  41.809757 -87.672145                    61
4    1175177.622  1880745.126  41.828146 -87.632794                    34
..           ...          ...        ...        ...                   ...
561  1170500.817  1870373.159  41.799788 -87.650255                    61
562  1178101.365  1866810.123  41.789841 -87.622490                    40
563  1150644.396  1914368.955  41.920927 -87.721925                    22
564  1185825.188  1860883.579  41.773400 -87.594356                    42
565  1147521.302  1883405.128  41.836020 -87.734195                    30

    COMMUNITY_AREA_NAME  Ward Police_District                     Location
0          LINCOLN PARK    43              18  (41.92449696, -87.64452163)
1           SOUTH SHORE     7               4  (41.76032435, -87.55673627)
2               ASHBURN    13               8  (41.74711093, -87.73170248)
3              NEW CITY    20               9    (41.8097569, -87.6721446)
4         ARMOUR SQUARE    11               9  (41.82814609, -87.63279369)
..                  ...   ...             ...                          ...
561            NEW CITY    16               9  (41.79978772, -87.65025483)
562     WASHINGTON PARK    20               2  (41.78984129, -87.62248974)
563        LOGAN SQUARE    35              25  (41.92092734, -87.72192541)
564            WOODLAWN     5               3  (41.77339962, -87.59435584)
565      SOUTH LAWNDALE    22              10  (41.83601953, -87.73419465)

[566 rows x 78 columns]
    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT_OF_HOUSING_CROWDED  \
0                     1.0         Rogers Park                         7.7
1                     2.0          West Ridge                         7.8
2                     3.0              Uptown                         3.8
3                     4.0      Lincoln Square                         3.4
4                     5.0        North Center                         0.3
..                    ...                 ...                         ...
73                   74.0     Mount Greenwood                         1.0
74                   75.0         Morgan Park                         0.8
75                   76.0              O'Hare                         3.6
76                   77.0           Edgewater                         4.1
77                    NaN             CHICAGO                         4.7

    PERCENT_HOUSEHOLDS_BELOW_POVERTY  PERCENT_AGED_16__UNEMPLOYED  \
0                               23.6                          8.7
1                               17.2                          8.8
2                               24.0                          8.9
3                               10.9                          8.2
4                                7.5                          5.2
..                               ...                          ...
73                               3.4                          8.7
74                              13.2                         15.0
75                              15.4                          7.1
76                              18.2                          9.2
77                              19.7                         12.9

    PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  \
0                                           18.2
1                                           20.8
2                                           11.8
3                                           13.4
4                                            4.5
..                                           ...
73                                           4.3
74                                          10.8
75                                          10.9
76                                           9.7
77                                          19.5

    PERCENT_AGED_UNDER_18_OR_OVER_64  PER_CAPITA_INCOME  HARDSHIP_INDEX
0                               27.5              23939            39.0
1                               38.5              23040            46.0
2                               22.2              35787            20.0
3                               25.5              37524            17.0
4                               26.2              57123             6.0
..                               ...                ...             ...
73                              36.8              34381            16.0
74                              40.3              27149            30.0
75                              30.3              25828            24.0
76                              23.8              33385            19.0
77                              33.5              28202             NaN

[78 rows x 9 columns]

In [19]:
conn = sqlite3.connect('FinalDB.db')
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)  # Will list all tables in the database

      name
0   Census
1   Crimes
2  Schools

Establish a connection between SQL magic module and the database `FinalDB.db`

In [9]:
%load_ext sql
%sql sqlite:///FinalDB.db

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [11]:
%%sql
SELECT COUNT(*) FROM Crimes;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [30]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME FROM Census WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [33]:
%%sql
SELECT COUNT(*) FROM Crimes WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[(2,)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [35]:
%%sql
SELECT * FROM Crimes WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION LIKE "%CHILD%";

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [27]:
%%sql
SELECT * FROM Crimes
WHERE LOCATION_DESCRIPTION='SCHOOL';

 * sqlite:///FinalDB.db
Done.

[]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [43]:
%%sql
SELECT COUNT(*) 
FROM Schools 
WHERE "Elementary, Middle, or High School" = 'Middle';

 * sqlite:///FinalDB.db
Done.

[(0,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [44]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COUNT(*) FROM Crimes GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [52]:
%%sql
SELECT CENSUS.COMMUNITY_AREA_NAME, COUNT(*) AS crime_count
FROM CRIMES
JOIN CENSUS ON CRIMES.COMMUNITY_AREA_NUMBER = CENSUS.COMMUNITY_AREA_NUMBER
GROUP BY CENSUS.COMMUNITY_AREA_NAME
ORDER BY crime_count DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Austin', 43)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>